.dashboard {
  background-color: #202343;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.dashboard-body {
  display: flex;
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}
.nav-bar {
  background-color: #383e72;
  width: 94%;
  height: 70px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.chat-groups {
  width: 20%;
  height: 70vh;
  background-color: #383e72;
  border-radius: 15px;
}

.chat-board {
  width: 70%;
  height: 70vh;
  background-color: #383e72;
  border-radius: 15px;
}
