.dashboard {
  background-color: #202343;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#chat-room {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  align-items: center;
}
.nav-bar {
  background-color: #383e72;
  width: 94%;
  height: 70px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
