.sign-up {
  display: flex;
  flex-direction: column;
  background-color: #202343;
}

.sign-in {
  background-color: #202343;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.sign-in-title {
  text-align: center;
}

.input-field {
  background-color: #2c315b;
}
