.sign-up {
  display: flex;
  flex-direction: column;
  background-color: #202343;
}

.sign-in {
  background-color: #202343;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.sign-in-form {
  width: 38%;
}
.sign-in-title {
  text-align: center;
}
.sign-in-caroussel {
  width: 62%;
  background-color: #2c315b;
}

.input-field {
  background-color: #2c315b;
}
